Q1. What is a database? Differentiate between SQL and NoSQL databases.

ANS: A database is a systematic collection of data. They support electronic storage and manipulation of data. Databases make data management easy.

these are the main difference b\w sql and no-sql
**SQL-  RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)

**NoSQL- Non-relational or distributed database system.

*SQL-  These databases have fixed or static or predefined schema		

*NoSQL-  They have dynamic schema

*SQL-  These databases are not suited for hierarchical data storage.

*NoSQL- These databases are best suited for hierarchical data storage.

*SQL-  These databases are best suited for complex queries	

*NoSQL- These databases are not so good for complex queries

*SQL-  Vertically Scalable	

*NoSQL- Horizontally scalable

*SQL- Follows ACID property	

*NoSQL- Follows CAP(consistency, availability, partition tolerance)

*SQL- Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc	

*NoSQL- Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

sql commands are FOUR TYPES THEY ARE--DDL, DML, DCL, and TCL.
**DDL-Data Definition Language
   1)CREATE- to create a database and its objects like (table, index, views, store procedure, function, and triggers)
   2)ALTER- alters the structure of the existing database
   3)DROP - delete objects from the database
   4)TRUNCATE- remove all records from a table, including all spaces allocated  for the records are removed
   5)COMMENT
   6)RENAME

**DML-Data Manupulation Language

    1) SELECT - retrieve data from a database
    
    2) INSERT - insert data into a table
    
    3) UPDATE - updates existing data within a table
    
    4) DELETE - Delete all records from a database table
    
    5) MERGE - UPSERT operation (insert or update)
    
    6) CALL - call a PL/SQL or Java subprogram
    
    7) EXPLAIN PLAN - interpretation of the data access path
    
    8) LOCK TABLE - concurrency Control


**DCL-Data Control Language

    GRANT - allow users access privileges to the database
    
    REVOKE - withdraw users access privileges given by using the GRANT command


**TCL-Transaction Control Language

    1) COMMIT - commits a Transaction
    
    2) ROLLBACK - rollback a transaction in case of any error occurs
    3) SAVEPOINT - to rollback the transaction making points within groups
    4) SET TRANSACTION - specify characteristics of the transaction

In [ ]:
#CREATE EXAMPLE
CREATE DATABASE mydatabase;
#DROP EXAMPLE
DROP COLUMN1;
#ALTER EXAMPLE
ALTER TABLE Customers
ADD Email varchar(255);
#TRUNCATE EXAMPLE
TRUNCATE TABLE2;
#DELETE THE DATA BUT NOT THE TABLE

SyntaxError: invalid syntax (1134797.py, line 2)

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
**DML-Data Manupulation Language
    1) SELECT - retrieve data from a database
    2) INSERT - insert data into a table
    3) UPDATE - updates existing data within a table
    4) DELETE - Delete all records from a database table
    5) MERGE - UPSERT operation (insert or update)
    6) CALL - call a PL/SQL or Java subprogram
    7) EXPLAIN PLAN - interpretation of the data access path
    8) LOCK TABLE - concurrency Control

SyntaxError: unmatched ')' (3480761052.py, line 2)

In [ ]:
# DELETE EXAMPLE
DELETE FROM ROW2;
#UPDATE EXAMPLE
UPDATE TABLE_DATA1
SET name="guru"
WHERE country="chili";
#INSERT EXAMPLE
INSERT INTO ROW4(C1, C2,C3);

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language):
DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it. When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end.
SELECT: It is used to retrieve data from the database.

EXAMPLE SELECT
SELECT Stu_Name FROM Student WHERE Phone = 903*****8;

The command given above would select the record from the table ‘Student’ where the phone number is ‘903*****8’.

Q5. Explain Primary Key and Foreign Key.

**Primary Key:
A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 

Example:
STUD_NO, as well as STUD_PHONE both, are candidate keys for relation STUDENT but STUD_NO can be chosen as the primary key (only one out of many candidate keys).

**Foreign Key: 
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table. 

Example:
STUD_NO in STUDENT_COURSE is a foreign key to STUD_NO in STUDENT relation.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost_NAME",
  user="USER_ID",
  password="USER_password")

#CURSOR METHOD
After creating a connection, to execute SQL statements on SQLite Database, you need a cursor. Its like a temporary location that stores results of the queries and are updated in DB only when you commit them with commit method on connection object.

Syntax

cursor-name=connect_object.cursor()

cursor -name is the name of the cursor to be given by you.  connect_object  is the name of the connect handle already declared with connect method. Cursor is the method to create a cursor

#EXECUTE METHOD
To run SQL commands you will use the execute method. It can be called with a cursor object and you get back the set of rows affected by the SQL command. All the SQL queries can be run inside the execute command enclosing it in single quotes or triple single quotes directives.

Note : it is better to use ‘’’’ ’’’ directive(triple single quotes) to avoid the problems imposed by SQL injections.

Syntax

Cursor_name.execute(query as a string):

commit() is used to save the changes made in the database. It is always used with connection object

Q7. Give the order of execution of SQL clauses in an SQL query.

Knowing the order in which an SQL query is executed can help us a great deal in optimizing our queries. This is especially true with large and complex queries where knowing the order of execution can save us from unwanted results, and help us create queries that execute faster.

In SQL, the first clause that is processed is the FROM clause, while the SELECT clause, which appears first in an SQL query, is processed much later. The phases involved in the logical processing of an SQL query are as follows:

FROM clause

ON clause

OUTER clause

WHERE clause

GROUP BY clause

HAVING clause

SELECT clause

DISTINCT clause

ORDER BY clause

TOP clause
In practice this order of execution is most likely unchanged from above. With this information, we can fine-tune our queries for speed and performance.